.fuck-instagram {
  border: 1px solid #000;
  background: #000;
  font-size: 36px;
  padding: 2rem;
}

.container {
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
}

.header {
  width: 100%;
  padding: 0rem 1rem;
  align-items: center;
  background-color: var(--background);
  display: flex;
}

.logo {
  position: absolute;
  left: calc(50% - 20px);
  padding-top: 2rem;
}

.logo img {
  width: 60px;
}

.logo:hover {
  color: var(--text-color);
  text-decoration: none;
}

.logo[aria-current="page"] {
  color: var(--primary);
}

.nav {
  flex: 1;
}

.searchButton {
  color: var(--text-color-secondary);
  grid-area: searchButton;
  width: var(--size-input);
  height: var(--size-input);
  display: grid;
  place-items: center;
}

.searchButton:hover {
  color: var(--text-color);
}

.searchButton[aria-current="page"] {
  color: var(--primary);
}
